# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
env/

# Editors
.idea/
.vscode/
*.swp

# Local detector dumps (PAN-style solutions written by evaluate)
/tmp/
*.local.json
